/* /shared/kpi-card/kpi-card.component.scss */
import '../../../styles.scss';


.kpi-card {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px; /* Légèrement plus petit que la carte de base */
  min-width: 200px;
}

.kpi-icon-wrapper {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.kpi-title {
  font-size: 0.9rem;
  color: $dark-grey;
  font-weight: 400;
}

.kpi-value {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -5px;
}
